*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body{
	background-color: rgba(192, 192, 192,0.4);
}

.cabecera{
	width: 100%;	
	height:20vh;
	padding: 5vh 0 2vh 0;
	justify-content: space-between;
}

.logo{
	width: 10vw;
	height: 12vh;
	float: left;
		

}
.logo img{
	width: 10vw;
	height: 12vh;
	border-radius: 40px;
	
}

.menu{
	padding-right: 0;
	width:88%;
	height: 5em;
	background-color: rgba(172, 176, 58, 1.0);
	display: flex;
}

.menu ul li {
	list-style: none;
	display: inline-block;
}
.menu .menu-principal{
	width: 80%;
	height: 3vh;
	justify-items: center;
}
.menu ul .item {

	padding-left: 30px;
	padding-right: 30px;
	font-size: 24px;
	width: 30vw;
	background: green;
	border-radius: 2px;
	
}
.menu .item a{

}
a{
	text-decoration: none;
}


.menu ul .sub-menu{
	display: flex;
	position: absolute;
	flex-direction: column;
}

.menu ul .sub-menu > li {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
}

